.txtLogin{
    text-align:center;
    margin-top:-4%;
}
.roundedtop {
    border-top-right-radius: 1rem;
}
.inputContainer{
    position: relative;
    height: 35px;
    width: 100%;
}
.inputs{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #acacac;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 12px;
    outline: none;
    background: none;
    z-index: 1;
}
::placeholder {
    color: transparent;
}
.labels{
    position: absolute;
    top: 7px;
    left: 15px;
    padding: 0 4px;
    background-color: white;
    color: #acacac;
    font-size: 12px;
    transition: 0.5s;
    z-index: 0;
}
.inputs:focus + .labels {
    top: -10px;
    left: 5px;
    z-index: 10;
    font-size: 12px;
}
.inputs:not(:placeholder-shown)+ .labels {
    top: -10px;
    left: 5px;
    z-index: 10;
    font-size: 12px;
}